<header class="apidemo-header">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="navbar-brand"><img [attr.src]="imageSource" alt="logo"></div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsList"
      aria-controls="navbarsList" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleHomeMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsList" [class.show]="this.homeMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isHomeVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/home')" href="home" (click)="onTabClick('/home')">
            Home
          </a>
        </li>
        <li class="nav-item" *ngIf="isSettingsVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/settings')" href="settings" (click)="onTabClick('settings')">
            Settings
          </a>
        </li>
        <li class="nav-item" *ngIf="isSignUpVisible">
          <a class="text-white" [class.btn]="this.notRegister()" [class.btn-sm]="this.notRegister()"
            [class.register-btn]="this.notRegister()" [class.nav-link]="this.checkSelectedTab('/register')"
            [class.active]="this.checkSelectedTab('/register')" href="register" role="button" (click)="onTabClick('register')">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="isLoginVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/login')" href="login"
            (click)="onTabClick('login')">Login</a>
        </li>
        <li class="nav-item" *ngIf="isTOTPVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/totpregister')" href="totpregister"
            (click)="onTabClick('totpregister')">Register TOTP</a>
        </li>
        <li class="nav-item" *ngIf="checkFlow2_Flow3UserPage()">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/fundtransfer')" href="fundtransfer"
            (click)="onTabClick('fundtransfer')">Fund Transfer</a>
        </li>
        <li class="nav-item" *ngIf="isUserProfileVisible">
          <a class="nav-link text-white" [class.active]="this.checkSelectedTab('/user')" href="user"
            (click)="onTabClick('user')">User Profile</a>
        </li>
        <li class="nav-item" *ngIf="isLogoutVisible">
          <div class="nav-link text-white" (click)="logout()" style="cursor: pointer;">Logout</div>
        </li>
      </ul>
    </div>
  </nav>
</header>