<div class="container-fluid">
    <div *ngIf="loading" class="loader-screen">
        <img class="loader" alt="spinner" src="../../assets/images/Spinner.svg">
    </div>
    <app-header isLogoutVisible=true></app-header>
    <div class="app-page">
        <div class="container py-3">
            <h3 class="text-center">Login Protocols</h3>
            <div class="card-deck">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title text-center">API only</h5>
                        <div class="card-text">
                            Login functionality uses the following APIs.
                            <div class="mt-3"></div>
                            <ul class="px-3">
                                <li><a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-startauthentication">/Security/StartAuthentication</a> - The authentication package returned is a complex structure that guides the caller through the authentication process. Multiple calls to AdvanceAuthentication
                                    may be required to complete the process.</li>
                                <li> <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-advanceauthentication">/Security/AdvanceAuthentication</a> - Attempt to advance the state of an authentication session. When things are going smoothly, you can expect to get a 'StartNextChallenge' or 'LoginSuccess' as response.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-3 w-50 align-self-center">
                        <button class="container btn btn-secondary" (click)="onApiOnlyClick()">Continue</button>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title text-center">API + OIDC</h5>
                        <div *ngIf="errorMessage !== ''" class="user-error">
                            <div class="error-image"><img
                               alt="successfailicon" [src]="checkMessageType() ? '../../assets/images/green_check.png' : '../../assets/images/issue_icon.png'" />
                            </div>
                            <p [style.color]="checkMessageType() ? '#fff' : '#cc3300'">{{errorMessage}}</p>
                        </div>
                        <div class="card-text">
                            Login functionality uses the 
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-startauthentication">/Security/StartAuthentication</a> and
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-advanceauthentication">/Security/AdvanceAuthentication</a>  along with Authorization SDK.
                            <br>
                            <b>Supported Grant flows</b> - Authorization code with PKCE, Implicit and Hybrid
                            <br>
                            <div class="mt-3"></div>
                            <b>OIDC SDK Methods</b>
                            <ul class="px-3">
                                <li><b>authorizeUrl</b> - Builds the URL for Authorize endpoint</li>
                                <li><b>requestToken</b> - Creates a request to get tokens by exchanging the authorization code</li>
                                <li><b>userInfo</b> - Creates a request to get the user information associated to the access token</li>
                                <li><b>claims</b> - Get claims associated to the id_token</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-3 w-50 align-self-center">
                        <button class="container btn btn-secondary" (click)="onApiOidcClick()">Continue</button>
                    </div>
                </div>
            </div>
            <div class="card-deck mt-3">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title text-center">API + OAuth - User Interactive</h5>
                        <div class="card-text">
                            Login functionality uses the 
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-startauthentication">/Security/StartAuthentication</a> and
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-advanceauthentication">/Security/AdvanceAuthentication</a>  along with Authorization SDK.
                            <br>
                            <b>Supported Grant flows</b> - Authorization code, PKCE and Implicit
                            <br>
                            <div class="mt-3"></div>
                            <b>OAuth SDK Methods</b>
                            <ul class="px-3">
                                <li><b>authorizeUrl</b> - Builds the URL for Authorize endpoint</li>
                                <li><b>requestToken</b> - Creates a request to get tokens by exchanging the authorization code</li>
                                <li><b>claims</b> - Get claims associated to the id_token</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-3 w-50 align-self-center">
                        <button class="container btn btn-secondary" (click)="onApiOAuthClick()">Continue</button>
                    </div>
                </div>
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title text-center">API + OAuth - Machine To Machine</h5>
                        <div class="card-text">
                            Login functionality uses the 
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-startauthentication">/Security/StartAuthentication</a> and
                            <a target="_blank" href="https://identity-developer.cyberark.com/reference#post_security-advanceauthentication">/Security/AdvanceAuthentication</a>  along with Authorization SDK.
                            <br>
                            <b>Supported Grant flows</b> - Client Credentials and Resource Owner
                            <br>
                            <div class="mt-3"></div>
                            <b>OAuth SDK Methods</b>
                            <ul class="px-3">
                                <li><b>requestTokenWithClientCreds</b> - Creates a request to get the tokens using Client Credentials grant type.</li>
                                <li><b>requestTokenWithPassword</b> - Creates a request to get the tokens using Resource Owner Password grant type.</li>
                                <li><b>claims</b> - Get claims associated to the id_token</li>
                            </ul>
                        </div>
                    </div>
                    <div class="p-3 w-50 align-self-center">
                        <button class="container btn btn-secondary" (click)="onM2MClick()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>