.register-page {
  margin-bottom: 30px !important;
  margin-top: 85px !important;
  max-height: calc(100vh - 105px) !important;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.page-title {
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  margin-top: 2%;
}

.page-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  opacity: 1;
  border: 1px #e9e5e5;
  box-shadow: 0px 2px 4px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

.page-info-icon p:before {
  font-family: Icon-Set;
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
  content: "I";
}

.page-info-icon p {
  margin: 15px 0 0 11px;
}

.page-info-icon {
  order: 1;
  width: 50px;
  color: #fff;
  background: #0078d4;
}

.page-warning-icon p {
  margin: 15px 0 0 11px;
}

.page-warning-icon {
  order: 1;
  width: 50px;
  color: #fff;
  background: #ffc90e;
}

.page-warning-icon p:before {
  font-family: Icon-Set;
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
  content: "Q";
}

.page-info-content {
  order: 2;
  width: 100%;
  padding: 20px;
}

.register-form {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

.register-form .form-control,
.register-button-section {
  width: 90%;
  height: 100%;
}

.message-info-icon {
  background-image: '../../assets/images/green_check.png';
}

.message-error-icon {
  background-image: '../../assets/images/issue_icon.png';
}

label.required::after {
  content: '*';
  color: #f44336;
  font-weight: bold;
  margin-left: .25em;
}

form span {
  color: #f44336;
  font-size: 0.75rem;
}

form section>label {
  font-weight: bold !important;
}

.register-button-section {
  margin-top: 20px;
}

.section-container {
  margin-top: 1.5em;
}

.checkbox-section div {
  display: flex !important;
}

.checkbox-section input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background: url(../../assets/images/checkbox_32x32.png) no-repeat;
  margin: 0 5px 0 0;
}

.form-checkbox {
  width: 100%;
  position: relative;
  background: #fff;
  vertical-align: top;
}

.form-checkbox label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: #fff;
  border: 2px solid #666;
  display: inline-block !important;
  vertical-align: top;
}

.form-checkbox label:hover {
  border: 2px solid #007bff;
}

.form-checkbox label:after {
  content: '';
  width: 12px;
  height: 6px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 2px solid #000;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.form-checkbox label:hover::after {
  opacity: 0.3;
}

.form-checkbox input[type=checkbox] {
  visibility: hidden;
  display: inline-block !important;
}

.form-checkbox input[type=checkbox]:checked+label:after {
  opacity: 1;
}

.form-checkbox div {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.modal.show {
  display: block;
}

.modal-info .modal-header {
  background-color: #0bb2d4;
  color: #FFF;
}

.divider {
  border-left: 2px solid #cccccc;
  height: 990px;
  margin-left: 28px;
  top: 30px;
}

@media screen and (max-width: 767px) {
  .page-info-content {
    padding: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .page-info-icon p {
    margin: 55px 0 0 11px;
  }
}