.fundtransfer-page {
  margin-bottom: 30px !important;
  margin-top: 113px !important;
  height: calc(100vh - 143px) !important;
  overflow: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.page-title {
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  margin-top: 2%;
}

.page-info {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  opacity: 1;
  border: 1px #e9e5e5;
  box-shadow: 0px 2px 4px;
  color: #4a4a4a;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
}

.page-info-icon p:before {
  font-family: Icon-Set;
  font-size: 25px;
  margin-right: 10px;
  vertical-align: middle;
  content: "I";
}

.page-info-icon p {
  margin: 5px 0 0 11px;
}

.page-info-icon {
  width: 50px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-info-content {
  width: 100%;
  padding: 20px;
}

.fundTransfer{
  width: 30%;
}

.fundTransfer-form {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

.fundTransfer-form .form-control,
.fundTransfer-button-section {
  height: 100%;
}

.fundTransfer-button-section {
  margin-top: 20px;
}

.user-error {
  display: flex;
  align-items: flex-start;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #cc3300;
}

.user-error p {
  order: 2;
  margin-top: 2px;
}

.error-image {
  order: 1;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

label.required::after {
  content: '*';
  color: #f44336;
  font-weight: bold;
  margin-left: .25em;
}

form span {
  color: #f44336;
  font-size: 75%;
  margin-top: .5em;
}

form section>label {
  font-weight: bold !important;
}

@media screen and (max-width: 767px) {
  .page-info-content {
    padding: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .page-info-icon p {
    margin: 30px 0 0 11px;
  }
}