<div class="container-fluid">
  <div *ngIf="loading" class="loader-screen">
    <img alt="spinner" class="loader" src="../../assets/images/Spinner.svg">
  </div>
  <app-header isLogoutVisible=true isBackVisible=true isFundTransferVisible=true></app-header>
  <div class="app-page">
    <div *ngIf="showPage()" class="container h-100">
      <div class="h-100 row justify-content-center align-items-center">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h3 class="text-center mb-3">Fund Transfer</h3>
            <div class="page-info text-white">
              <div class="page-info-icon">
                <p></p>
              </div>
              <div class="page-info-content breaktext_now"><strong>Step-up MFA capabilities -</strong> The fund transfer feature is protected by CyberArk step-up authentication mechanism. As a step-up case, an authenticated user has to re-authenticate against an MFA factor for successful fund transfer.
              <br>
              <strong>Note:</strong> This functionality is not a real-world fund transfer case, it showcases how such scenarios can be protected by Multi-Factor authentication.</div>
            </div>
            <div class="row margin-0">
              <div class="col margin-top-2p">
                <form [formGroup]="fundTransferForm" class="col-8" autocomplete="off">
                  <div class="form-group m-3">
                    <label class="required label">Amount</label>
                    <input class="form-control" placeholder="Enter Transfer Amount" formControlName="amount" required (keypress)="numberOnly($event)">
                    <span *ngIf="hasError('amount', 'required')">Required</span>
                    <span *ngIf="hasError('amount', 'min')">Invalid</span>
                  </div>
                  <div class="form-group m-3">
                    <label class="label">Remarks</label>
                    <input class="form-control" placeholder="Remarks" formControlName="remarks" type="text">
                  </div>
                  <div class="d-flex align-items-center justify-content-end mt-4">
                    <button class="btn btn-secondary w-50" type="submit"
                    (click)="transferFunds(fundTransferForm.value)">{{submitButtonText}}</button>
                  </div>  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-error title="Fund transferred" [body]="popUpBody" btnLabel="Done" [btnClick]="onDone" [iconSrc]="iconSrc"></app-error>
  </div>
</div>