.input[type="password"] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  color: white;
  box-sizing: border-box;
  border: none;
  background-color: #192436 !important;
  border-bottom: 2px solid white;
}
