<div class="container-fluid padding-0">
    <app-header></app-header>
    <div class="d-flex flex-column align-items-center justify-content-center" style="margin-top: 85px;">
        <h1>Flow 1</h1>
        <h3>Login with APIs only</h3>
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    content.</p>
            </div>
        </div>
        <button class="btn btn-primary btn-sm mt-3" (click)="onNext()">Next</button>
    </div>
</div>