<div class="container-fluid">
  <app-header isSettingsVisible=true></app-header>
  <div class="app-page">
    <div class="container">
      <div class="text-center">
        <h5 class="pt-4">
          Try out the different functionalities offered by CyberArk Identity for your web application. You can easily
          embed these functionalities into your web application using Java SDK. Please check the documentation <a
            target="_blank"
            href="https://identity-developer.cyberark.com/docs/cyberark-identity-java-sdk-reference">here</a>.
        </h5>
        <h5 class="pt-4">
          Select the card you want to try out and then click on “Login” or “Signup” link in the card to try out
          different functionalities
        </h5>
      </div>
      <div class="card-deck py-5">
        <div class="card bg-primary text-white invisible">
          <img src="../../assets/images/api_logo.png" style="width: 189px; height: 129px"
            class="align-self-center mt-4 img-fluid" alt="apilogo">
          <div class="card-body">
            <h4 class="card-title text-center">CyberArk Identity authentication APIs</h4>
            <p class="card-text text-center">
              Checkout this flow to understand how the authentication APIs can be used to authenticate a user and
              integrate these APIs with OAuth/OIDC protocols
            </p>
          </div>
          <div class="p-3">
            <div class="row justify-content-around px-5">
              <div (click)="onFlow1Login()" class="btn btn-link font-weight-bold">Login</div>
              <div (click)="onFlow1Signup()" class="btn btn-link font-weight-bold">Signup</div>
            </div>
          </div>
        </div>
        <div class="card bg-primary text-white">
          <img src="../../assets/images/widget_logo.png" style="width: 129px; height: 156px"
            class="align-self-center mt-3" alt="widget_logo">
          <div class="card-body">
            <h4 class="card-title text-center">Widgets</h4>
            <p class="card-text text-center">
              Checkout this flow to understand how to embed the login and the signup widget into your web app and
              integrate the widgets with OAuth/OIDC protocols to generate tokens
            </p>
          </div>
          <div class="p-3">
            <div class="row justify-content-around px-5">
              <div (click)="onGetStarted()" class="btn btn-link font-weight-bold">Get Started</div>              
            </div>
          </div>
        </div>
        <div class="card bg-primary text-white invisible">
          <img src="../../assets/images/2fa_logo.png" style="width: 152px; height: 102px" class="align-self-center mt-5"
            alt="2fa_logo">
          <div class="card-body">
            <h4 class="card-title text-center">CyberArk Identity as 2FA provider</h4>
            <p class="card-text text-center">
              Checkout this flow to understand how to embed the MFA widget for only second factor authentication and
              step-up authentication
            </p>
          </div>
          <div class="p-3">
            <div class="row justify-content-around px-5">
              <div (click)="onFlow3Login()" class="btn btn-link font-weight-bold">Login</div>
              <div (click)="onFlow3Signup()" class="btn btn-link font-weight-bold">Signup</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>