<div class="container-fluid p-3">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <img [src]="applogo" alt="sampleapplogo" class="img-responsive">
        </div>
        <h3 class="text-white mt-3 text-center">
            Acme Inc. uses CyberArk Identity APIs, SDKs, and widgets to secure its web applications. 
            This playground application shows all the possible variations that a developer from Acme Inc has at their disposal
        </h3>
        <div class="container align-self-center">
            <div class="card-deck mt-5">
                <div class="card">
                    <img src="../../assets/images/github_logo.png" alt="githublogo" class="align-self-center mt-3" style="width: 123px;
                    height: 114px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">GitHub</h5>
                        <div class="card-text text-center">
                            Explore our GitHub and know more about the CIAM SDKs and sample apps
                        </div>
                    </div>
                    <div class="text-center p-3">
                        <a class="btn btn-link" target="_blank" href="https://github.com/cyberark/identity-sample-nodejs">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/images/cyberark_logo.png" alt="cyberarklogo" class="align-self-center mt-3" style="width: 171px;
                    height: 114px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Blogs</h5>
                        <div class="card-text text-center">
                            Know what’s coming up next and to know more about the industry standards and best practices
                        </div>
                    </div>
                    <div class="text-center p-3">
                        <a class="btn btn-link" target="_blank" href="https://www.cyberark.com/resources/cyberark-identity">Know More</a>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/images/swagger_logo.png" alt="swaggerlogo" class="align-self-center mt-3" style="width: 114px;
                    height: 109px;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Developer Documentation</h5>
                        <div class="card-text text-center">
                            Read our developer documentation to get more insights on SDKs, APIs and sample apps
                        </div>
                    </div>
                    <div class="text-center p-3">
                        <a class="btn btn-link" target="_blank" href="https://identity-developer.cyberark.com/">Know More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="btn btn-secondary w-25" (click)="onGetStarted()">Get Started</div>
        </div>
    </div>
</div>