<div class="container-fluid">
  <app-header isHomeVisible=true></app-header>
  <div class="app-page">
    <div class="container h-100">
      <div class="h-100 row justify-content-center align-items-center">
        <div class="col">
          <div class="text-center" *ngIf="showSignUpWidget">
            <h5>
              The admin of Acme Inc. creates the authentication widget on the CyberArk Identity portal and uses the page URL to embed the widget into the website or mobile app.
            </h5>
            <h5 class="mt-4">
              The widget adds sign up and sign in capabilities to your website or mobile app.
            </h5>
            <h5 class="my-4">
              End-users who sign up are added to the CyberArk Cloud Directory. You can leverage CyberArk Identity's authentication and authorization features to secure their accounts. Once the end-user signs up, they are re-directed to the sign in form in the widget to securely sign in using multi-factor authentication.
            </h5>
            <h5 class="my-4">
              The same widget prompts end-users to authenticate to your website with MFA. The widget can be integrated with sign in protocols such as OIDC/SAML to authorize a user.
            </h5>
            
          </div>
          <div class="text-center" *ngIf="!showSignUpWidget">
            <h5>
              The admin of Acme Inc. creates the authentication widget on the CyberArk Identity portal and uses the page URL to embed the widget into the website or mobile app.
            </h5>
            <h5 class="mt-3">
              The widget adds sign up and sign in capabilities to your website or mobile app.
            </h5>
            <h5 class="my-3">
              End-users who sign up are added to the CyberArk Cloud Directory. You can leverage CyberArk Identity's authentication and authorization features to secure their accounts. Once the end-user signs up, they are re-directed to the sign in form in the widget to securely sign in using multi-factor authentication.
            </h5>
            <h5 class="my-3">
              The same widget prompts end-users to authenticate to your website with MFA. The widget can be integrated with sign in protocols such as OIDC/SAML to authorize a user.
            </h5>
            
          </div>
        </div>
        <div class="col m-5" id="cyberark-login"></div>
      </div>
    </div>
    <app-error [btnClick]="onRetry" [body]="errorMessage"></app-error>
  </div>
</div>